.contacto-container h2, .habilidades-container h2, .sobreMi-container h2 {
  font-weight: bold;
  color: rgb(28, 28, 29);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.opiniones-container h2, .proyectos-container h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.menu-container {
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 20px;
}
.menu-container nav ul li a:visited {
  color: !important;
}
.menu-container nav ul li a:hover {
  color: !important;
}

.contacto-container h2, .habilidades-container h2, .sobreMi-container h2 {
  font-weight: bold;
  color: rgb(28, 28, 29);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.opiniones-container h2, .proyectos-container h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.inicio-container {
  display: grid;
  background-color: rgb(28, 28, 29);
  text-align: center;
  height: 900px;
}
.inicio-container .inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: xxx-large;
  font-weight: bold;
}
.inicio-container .inicio img {
  width: 5em;
  margin: 10px;
}
.inicio-container .inicio h1 {
  color: rgb(255, 255, 255);
  margin: 5px;
  font-size: 1.5em;
  font-weight: bold;
}
.inicio-container .inicio h4 {
  margin: 5px;
  color: rgb(143, 143, 143);
  font-size: 1em;
  font-weight: bold;
}

.contacto-container h2, .habilidades-container h2, .sobreMi-container h2 {
  font-weight: bold;
  color: rgb(28, 28, 29);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.opiniones-container h2, .proyectos-container h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.sobreMi-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 30em;
  gap: 2em;
}
.sobreMi-container div img {
  height: inherit;
  filter: grayscale(1);
}
.sobreMi-container div p {
  margin: 20px;
  width: auto;
  text-align: justify;
}

.contacto-container h2, .habilidades-container h2, .sobreMi-container h2 {
  font-weight: bold;
  color: rgb(28, 28, 29);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.opiniones-container h2, .proyectos-container h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.proyectos-container {
  background-color: rgb(28, 28, 29);
}
.proyectos-container .proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.proyectos-container a {
  color: rgb(255, 255, 255);
  background-color: rgb(28, 28, 29);
  font-size: 20px;
  margin: 20px;
}
.proyectos-container a:hover {
  color: rgb(28, 28, 29);
  background-color: rgb(255, 255, 255);
  transition: 0.2s ease;
}

.habilidades-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
.habilidades-container .habilidades {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px;
}
.habilidades-container .habilidades img {
  width: 6em;
  transition: 0.4s ease;
  filter: grayscale(1);
}
.habilidades-container .habilidades img:hover {
  transform: scale(1.5);
  filter: grayscale(0);
}

.opiniones-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(28, 28, 29);
}
.opiniones-container .opiniones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3em;
}
.opiniones-container .opiniones .card {
  max-width: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(28, 28, 29);
  box-shadow: 1px 3px 10px rgb(143, 143, 143);
  color: rgb(255, 255, 255);
}
.opiniones-container .opiniones .card img {
  border-radius: 50%;
  width: 9em;
}

.contacto-container h2, .sobreMi-container h2, .habilidades-container h2 {
  font-weight: bold;
  color: rgb(28, 28, 29);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.proyectos-container h2, .opiniones-container h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.contacto-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.contacto-container div {
  margin: 20px 0px;
}
.contacto-container div #submit {
  color: rgb(28, 28, 29);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 20px;
}
.contacto-container div #submit:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(28, 28, 29);
  transition: 0.2s ease;
}

.footer-container {
  background-color: rgb(28, 28, 29);
  text-align: center;
  color: #eeeeee;
  padding-bottom: 45px;
  padding-top: 45px;
}
.footer-container .footer #logo {
  width: 15em;
  margin: 1em;
}
.footer-container .footer ul {
  margin: 1em 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  gap: 3em;
  padding-left: 0px;
}
.footer-container .footer ul li #linkedin {
  transition: 0.2s ease;
}
.footer-container .footer ul li #linkedin:hover {
  transform: scale(1.6);
  filter: invert(1);
}
.footer-container .footer ul li #instagram {
  transition: 0.2s ease;
}
.footer-container .footer ul li #instagram:hover {
  transform: scale(1.6);
  filter: invert(1);
}
.footer-container .footer ul li #github {
  transition: 0.2s ease;
}
.footer-container .footer ul li #github:hover {
  transform: scale(1.6);
  filter: invert(1);
}
.footer-container .footer ul li img {
  width: 35px;
}

.proyectos-pag-titulo {
  font-family: "Fredoka", sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 20fr 1fr;
  text-transform: uppercase;
  background-color: rgb(28, 28, 29);
  color: rgb(255, 255, 255);
  padding: 20px;
}

.sobreMi-container h2, .habilidades-container h2, .contacto-container h2 {
  font-weight: bold;
  color: rgb(28, 28, 29);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

.proyectos-container h2, .opiniones-container h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.disclaimer {
  display: none;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 900px;
}

/*# sourceMappingURL=style.css.map */
