/*******PALETA DE COLORES*******/
/*  color: #00ADB5;
    color: #222831;
    color: #393E46;
    color: #EEEEEE; */

/* ------------------Pagina------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
  text-align: center;
}

/* ------------------Menu------------------- */
.menu-container {
  background-color: #222831;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 20px;
}
.titulo{
  font-weight: bold;
  background-color: #393e46;
  color: #eeeeee;
  padding: 15px 0;
  width: 100%;
}

.nav-link{
  color: #eeeeee;
}
.nav-link:visited{
  color: #eeeeee !important;
}
.nav-link:focus, .nav-link:hover {
  color: #00ADB5 !important;
}


/* ------------------Inicio------------------- */
.inicio-container {
  display: grid;
  background-image: url("Images/fondo-logo.jpg");
  background-size: cover;
  color: #eeeeee;
  height: 900px;
}

.inicio {
  display: flex;
  font-size: xxx-large;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio img {
  width: 200px;
  background-color: #eeeeee;
  border-radius: 50%;
}

/* ------------------SobreMi------------------- */
.sobreMi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobreMi{
  display: flex;
  align-items: center;
  width: 70%;
  margin: 40px;
}
/* ------------------Proyectos------------------- */
.proyectos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proyectos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#verMas {
  color: #222831;
  font-size: 20px;
  margin-top: 20px;
}
#verMas:hover{
  background: linear-gradient(
    40deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(19, 75, 83, 1) 3%,
    rgba(18, 133, 144, 1) 73%,
    rgba(20, 145, 156, 1) 89%,
    rgba(18, 161, 171, 1) 97%,
    rgba(0, 173, 181, 0.9248074229691877) 100%
  );
  color: #eeeeee;
  transition: 0.2s ease;
}

/* ------------------Habilidades------------------- */
.habilidades-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.habilidades {
  margin: 40px;
}

/* ------------------Opiniones------------------- */
.opiniones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.opiniones{
  display: flex;
  gap: 20px;
  margin: 40px;
}
/* ------------------Contacto------------------- */
.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto{
  margin: 20px 0px;
}

#submit {
  background: linear-gradient(
    40deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(19, 75, 83, 1) 3%,
    rgba(18, 133, 144, 1) 73%,
    rgba(20, 145, 156, 1) 89%,
    rgba(18, 161, 171, 1) 97%,
    rgba(0, 173, 181, 0.9248074229691877) 100%
  );
  color: #eeeeee;
  border: none;
}
#submit:hover{
  transition: 0.2s ease;
  opacity: 0.9;
  transform: scale(.95);
}

/* ------------------Footer------------------- */
.footer-container {
  background: rgb(34, 40, 49);
  background: linear-gradient(
    56deg,
    rgba(34, 40, 49, 1) 0%,
    rgba(19, 75, 83, 1) 43%,
    rgba(18, 133, 144, 1) 73%,
    rgba(20, 145, 156, 1) 89%,
    rgba(18, 161, 171, 1) 97%,
    rgba(0, 173, 181, 0.9248074229691877) 100%
  );
  text-align: center;
  color: #eeeeee;
  padding-bottom: 45px;
  padding-top: 45px;
}

.footer p {
  padding-top: 20px;
}

.footer li {
  display: inline-block;
  padding: 20px 15px;
}

.footer a img {
  width: 25px;
}

#logo {
  width: 100px;
  background-color: #eeeeee;
  border-radius: 50%;
}
#linkedin {
  transition: 0.2s ease;
}
#linkedin:hover {
  transform: scale(2);
  filter: invert();
}
#instagram {
  transition: 0.2s ease;
}
#instagram:hover {
  transform: scale(2);
  filter: invert();
}
#github {
  transition: 0.2s ease;
}
#github:hover {
  transform: scale(2);
  filter: invert();
}

/*------------------Pagina Proyectos------------------- */
.proyectos-pag-titulo {
  font-family: "Fredoka", sans-serif;
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  align-items: center;
  text-transform: uppercase;
  background-color: #222831;
  color: #eeeeee;
  padding: 20px;
}

