@import 'extends';
@import 'maps';
@import 'mixin';

.contacto-container {
    @include flexbox(flex, center, space-evenly, column);

    h2 {
        @extend %h2-light;
    }

    div {
        margin: 20px 0px;

        

        #submit {

            color: map-get($map: $palette, $key: color1);
            background-color: map-get($map: $palette, $key: color3);
            font-size: 20px;
            margin: 20px;
            
            &:hover {
                color: map-get($map: $palette, $key: color3);
                background-color: map-get($map: $palette, $key: color1);
                transition: 0.2s ease;
                
            }
        }
    }
}