.footer-container {
    background-color: map-get($map: $palette, $key: color1);
    text-align: center;
    color: #eeeeee;
    padding-bottom: 45px;
    padding-top: 45px;

    .footer {
        #logo {
            width: 15em;
            margin: 1em;
        }

        ul {
            margin: 1em 0px;
            @include flexbox(flex, center, center, row);
            list-style: none;
            gap: 3em;
            padding-left: 0px;
            li {
                

                #linkedin {
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(2);
                        filter: invert(1);
                    }
                }

                #instagram {
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(2);
                        filter: invert(1);
                    }
                }

                #github {
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(2);
                        filter: invert(1);
                    }
                }

                img {
                    width: 25px;
                }

            }
        }

    }
}