.footer-container {
    background: linear-gradient(180deg,
            rgba(34, 40, 49, 1) 0%,
            rgba(19, 75, 83, 1) 43%,
            rgba(18, 133, 144, 1) 79%,
            white 80%,
            rgba(20, 145, 156, 1) 81%,
            rgba(18, 161, 171, 1) 97%,
            rgba(0, 173, 181, 0.9248074229691877) 100%);
    text-align: center;
    color: #eeeeee;
    padding-bottom: 45px;
    padding-top: 45px;

    .footer {
        #logo {
            width: 100px;
            background-color: #eeeeee;
            border-radius: 50%;
        }

        p {
            padding-top: 20px;
        }

        ul {
            li {
                display: inline-block;
                padding: 20px 15px;

                #linkedin {
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(2);
                        filter: invert(1);
                    }
                }

                #instagram {
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(2);
                        filter: invert(1);
                    }
                }

                #github {
                    transition: 0.2s ease;

                    &:hover {
                        transform: scale(2);
                        filter: invert(1);
                    }
                }

                img {
                    width: 25px;
                }

            }
        }

    }
}