@import 'extends';

.inicio-container {
    display: grid;
    background-image: url("/Images/fondo-logo.jpg");
    background-size: cover;
    color: #eeeeee;
    height: 900px;

    .inicio {
        @extend %flexbox-col;
        font-size: xxx-large;
        font-weight: bold;

        img {
            width: 200px;
            background-color: #eeeeee;
            border-radius: 50%;
        }

        h1 {}

        h4 {}
    }
}