@import 'extends';
@import 'maps';
@import 'mixin';

.menu-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 20px;
    
    nav {
        background-color: map-get($map: $palette, $key: bg-nav);
        
        ul {
            li {
                a {
                    color: map-get($map: $palette, $key: blanco);
                    &:visited{
                        color: map-get($map: $palette, $key: blanco) !important;
                    }
                    &:hover{
                        color: map-get($map: $palette, $key: hover) !important;
                    }
                }
            }
        }
    }
}