.opiniones-container {
    @include flexbox(flex, center, space-evenly, column);
    background-color: map-get($map: $palette, $key: color1);

    h2 {
        color: map-get($map: $palette, $key: color3);
    }

    .opiniones {
        @include flexbox(flex, center, space-evenly, row);
        flex-wrap: wrap;
        gap: 3em;

        .card {
            max-width: 30em;
            @include flexbox(flex, center, center, column);
            background-color: map-get($map: $palette, $key: color1);
            box-shadow: 1px 3px 10px map-get($map: $palette, $key: color2);
            color: map-get($map: $palette, $key: color3);

            img {
                border-radius: 50%;
                width: 10em;
            }
        }

    }
}