.opiniones-container {
    @include flexbox(flex, center, center, column);

    h2 {
        @extend %h2;
    }

    .opiniones {
        display: flex;
        gap: 20px;
        margin: 40px;
    }
}