.opiniones-container {
    @extend %flexbox-col;

    h2 {
        font-weight: bold;
        background-color: #393e46;
        color: #eeeeee;
        padding: 15px 0;
        width: 100%;
    }

    .opiniones {
        display: flex;
        gap: 20px;
        margin: 40px;
    }
}