@import 'extends';

.proyectos-container {
    background-color: map-get($map: $palette, $key: color1);

    h2 {
        @extend %h2-dark;
    }

    .proyectos {
        @include flexbox(flex, center, center, column);

    }
    a {
        color: map-get($map: $palette, $key: color3);;
        background-color: map-get($map: $palette, $key: color1);
        font-size: 20px;
        margin: 20px;
        
        &:hover {
            color: map-get($map: $palette, $key: color1);
            background-color: map-get($map: $palette, $key: color3);
            transition: 0.2s ease;
        }
    }
}