@import 'extends';

.sobreMi-container {
    @extend %flexbox-col;

    h2 {
        font-weight: bold;
        background-color: #393e46;
        color: #eeeeee;
        padding: 15px 0;
        width: 100%;
    }

    div {
        display: flex;
        align-items: center;
        width: 70%;
        margin: 40px;

        img {}

        p {}
    }
}