@import 'extends';
@import 'maps';
@import 'mixin';

.sobreMi-container {
    
    h2 {
        @extend %h2-light;
    }
    
    div {
        @include flexbox(flex, center, center, row);
        width: 80%;
        height: 30em;
        
       
        img {
            height: inherit;
            filter: grayscale(1);
            
        }

        p {
            margin: 20px;
            width: auto;
        }
    }
}