@import 'menu';
@import 'inicio';
@import 'sobreMi';
@import 'proyectos';
@import 'habilidades';
@import 'opiniones';
@import 'contacto';
@import 'footer';
@import 'pagProyectos';
@import 'extends';


* {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    text-align: center;
  }